# Existing ignored dirs
data/
temp/
logs
examples/
supports/*.py
allure-results/
allure-report/
tmp/

# VM images & snapshots (HUGE files, never commit)
*.qcow2
*.img
*.vdi
*.vmdk

# Reports & logs
*.log
_redirects

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.behave/
.tox/
.eggs/
.bat

# Build/virtualenv
.env/
.venv/
env/
venv/
dist/
build/

# OS junk
Thumbs.db
.DS_Store
*.toml
*.tmp
*.swp
g.bat
build.bat
ci.bat
last_pushed_id.txt
BUILD_NUMBER.txt
debug_job.bat
index.html
python_image_id.tmp
supports/automation_rate.py          
supports/github_run_status.py        
supports/test_coverage.py
supports/check_builds_size.py        
supports/jenkins_dashboard.py        
supports/validation_plan_builder.py
supports/deployment_workflow.py      
supports/prd2html.py

